<main id="index">
  <div class="container">
    <div class="row">
      <h3 class="col-md-4 mb-3">商品一覧画面</h3>
      <%= link_to "＋", admin_new_item_path, data: {turbolinks: false}, class: "col-md-1 offset-md-7 add-btn" %>
    </div>
    <div class="row">
      <table  class="col-md-10 offset-md-1 table">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.status == true %>
                販売中
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</main>
