<header class="navbar navbar-expand-lg">
  <h1 class="navbar-brand">LOGO</h1>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <% if end_user_signed_in? %>
        <li class="nav-item"><%= link_to "マイページ", "", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "カート一覧", "", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "nav-link" %></li>
      <% elsif admin_signed_in? %>
        <li class="nav-item"><%= link_to "受注一覧", "", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "商品登録", "", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "会員登録", new_end_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", new_end_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</header>
